<div class="container">

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-4 text-center">
                <h5>Site Haritası</h5>
                <hr />
                <p>
                    <a href="/Home/About">Hakkımızda</a>
                    <a href="/Home/MostLiked">En Beğenilenler</a>
                    <a href="/Home/Index">Son Yazılar</a>
                </p>
            </div>
            <div class="col-lg-4 text-center">
                <p>Tüm Haklar Saklıdır. &copy; <strong>BlogProject</strong> @DateTime.Now.Year</p>
            </div>
            <div class="col-lg-4 text-center">
                <h5>
                    <strong>E-Bülten Üyeliği</strong>
                </h5>
                <hr />
                <div class="col-md-10 col-md-offset-1">
                    <p>
                        Consectetur adipiscing elit fusce vel.
                    </p>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="EMail Address..." />
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">
                                <span class="glyphicon glyphicon-send"></span> Gönder
                            </button>
                        </span>
                    </div>
                </div>

            </div>
        </div>
    </footer>

</div>
<!-- /.container -->
